<h1>Restaurant Webapp</h1>
<div class="imgdiv">

<link rel="stylesheet" href="app.component.css">
<nav class="navbar">
  <div class="navbar-brand">
    <img [src]="url">
  </div>
</nav>
<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header"></div>
      <ul class="nav navbar-nav">
        <li>
          <a (click)="route.displayRoute()" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Admin</a>
        </li>
        <li><a routerLink="/user" routerLinkActive="active">User</a></li>
      </ul>
    </div>
  </nav>
</header>

<app-admin #route></app-admin>
<router-outlet></router-outlet>
